.page2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .country {
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 10%;
    .countryright {
      .countryinformation {
        display: flex;
        column-gap: 10%;
      }
    }
  }
}
